@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    background:border-box;
}
*::selection{
    background-color: #db6d13 ;
    color: #fff;
}
body,html{
  background-color: #131414;
  
}

html::-webkit-scrollbar-thumb{
  background-color: #100b1b;
  border-radius: 4%;
  height: 25%;
  width: 25%;
  transition: background-color 0.5s linear;

}

html::-webkit-scrollbar-thumb:hover{
  background-color: #191329;
  transition: background-color 0.5s linear;
}

html::-webkit-scrollbar-track{
  background-color: #06030e;
}
html::-webkit-scrollbar{
  width: 12px;
 
}

.fontgoogle{
    font-family: 'Spline Sans', sans-serif !important;
}
.alink{
    transition: color 0.4s linear , margin-left 0.3s linear !important;
}
.alink:hover{
    color: #944707 !important;
    margin-left: 5px !important;
}

.activee{
    color: #db6d13 !important;
}

/* ______________________________________________________________________________________________________________ */
/* ________________________________________________________________________________________________________________ */

/* ---------------------------------------------------------------top button-------------------------------------- */
.i_button_top{
    display: inline-block;
    color: #fff !important;
    position: absolute;
    top: 7px;
    left: 8px;
}
.a_button_top{
    display: none;
    background: rgba(0,0,0,0.6);
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #fff;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4500;
    opacity: .5;
}
.a_button_top:hover{
    background: rgb(0, 0, 0);
    opacity: .5;
}
.a_button_top.scrollh{
    display: block;
    transition: display 0.5s linear;
}

/* ----------------------------------------------------------------end top button--------------------------------- */

/* 
---------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------- nav bar --------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------- */

.fixed-top.scrolled{
    background-color:#07040f !important;
    transition:background-color 0.5s linear;
}
.text-p{
    color: #cacaca;
}
.active{
  color: #db6d13 !important;
}
/* 
---------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------- nav bar --------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------- */
/* ________________________________________________________________________________________________________________________|
__________________________________________________________header____________________________________________________
_______________________________________________________________________________________ */
.header-bg{
    background-image: url(img/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
height: 100vh;
}

.blur-header{
    background-color:#db6d135d;
    height: 100vh;
    padding-top: 12pc;
}
.h1-header{
    padding-top: 18pc;
    font-size: 6.154rem;
    line-height: 6.154rem;
    font-weight: 800;
    margin-bottom: 2.308rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}
.butoon-header{
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
}
.butoon-header:hover{
    border-bottom: 1px solid #db6d13;
    color:#db6d13 important;
   
    transition :border-bottom 0.5s linear  ;
}
.btn:hover {color:#db6d13 important;  transition :color 0.5s linear  ;}

.icon-header{
    font-size: 22px;
    transition: color 0.5s linear;
 }
 .icon-header:hover{
     color: rgba(255, 255, 255, 0.425) !important;
 }
 
/* ________________________________________________________________________________________________________________________|
__________________________________________________________header____________________________________________________
_______________________________________________________________________________________ */

.bg-sec2{
    background-color: #181f1f;
}

---------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------- contact --------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------- */
.icon-contact{
    float: left;
    font-size: 30px;
    color: #db6d13;
    border-right: 0.5px solid #8b8b8b;
}

.bg-footer{
    background-color: #000;
}
.text-span-services{
    color: #db6d13 !important;
}
/* 
---------------------------------------------------------------------------------------------------------------------------

--------------------------------------------------------- contact --------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------- */


#lastray{
    margin: auto;
    border-radius: 100%;
    border: 0px solid;
    border-color: var(--ray-color);
    opacity: 1;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  #loading-page{
    background-color:black ;
    border-radius: 100%;
    top:50%;
    left: 50vw;
    transform: translate(-50%,-50%);
    width: 400vh;
    height: 400vh;
    position: fixed;
    overflow: hidden;
    transition-duration: 1s;
    z-index: 10;
  }
  #loader{
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 200px;
    position: absolute;
    max-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
  }
  .element{
    margin: auto;
    position: absolute;
  }
  .sphere{
    background: radial-gradient(circle, var(--main-color), var(--main-color-dark));
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation: pump 4s infinite ease-in-out;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 15px 0px rgba(200, 230, 255, 0.5);
  }
  .ray{
    margin: auto;
    border-radius: 100%;
    border: 5px solid;
    border-color: var(--ray-color);
    opacity: 1;
    width: 10px;
    height: 10px;
    animation: ray 4s infinite ease-out;
    animation-delay: 2.5s;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 15px 0px rgba(255, 230, 200, 0.5);
  }
  .spark{
    width: 200px;
    height: 200px;
  }
  .particles{
    transform: translate(-50%, -50%);
  }
  .particle{
    background-color: var(--spark-color);
    width:5px;
    height:5px;
    border-radius: 100%;
    opacity: 0;
    animation: particle 1s infinite ease-in;
    left: 0%;
    top: 0%;
  }
  .spark1{transform: rotate(20deg);}
  .spark2{transform: rotate(40deg);}
  .spark3{transform: rotate(66deg);}
  .spark4{transform: rotate(172deg);}
  .spark5{transform: rotate(110deg);}
  .spark6{transform: rotate(130deg);}
  .spark7{transform: rotate(-100deg);}
  .spark8{transform: rotate(-50deg);}
  .spark9{transform: rotate(-80deg);}
  .spark10{transform: rotate(-173deg);}
  .spark11{transform: rotate(-7deg);}
  .spark12{transform: rotate(-133deg);}
  
  .particle1{animation-delay: .5s;}
  .particle2{animation-delay: 0s;}
  .particle3{animation-delay: 2.2s;}
  .particle4{animation-delay: .2s;}
  .particle5{animation-delay: 2s;}
  .particle6{animation-delay: 1.2s;}
  .particle7{animation-delay: 2.5s;}
  .particle8{animation-delay: 1.5s;}
  .particle9{animation-delay: 1s;}
  .particle10{animation-delay: 2.5s;}
  .particle11{animation-delay: .7s;}
  .particle12{animation-delay: 1.7s;}
  
  .loaded{
    width: 0px !important;
    height: 0px !important;
    transition: 1.2s ease-out;
  }
  .whitebk{
    background:#fff!important;
  }
  .opzero{
    opacity: 0;
    transition: 1s ease-out;
  }
  .finalray{
    animation: ray 2s ease-out;
    animation-delay: .3s;
    border: 1px solid;
  }
  /*ANIMATIONS*/
  @keyframes pump {
      0% {width: 50px; height: 50px;}
      83% {width: 88px; height: 88px;}
      85% {width: 90px; height: 90px;}
      100% {width: 50px; height: 50px;}
  }
  @keyframes ray {
      0% {width: 10px; height: 10px; opacity: 1; border-width: 1px;}
      100% {width: 200px; height: 200px; opacity: 0; border-width: 5px;}
  }
  @keyframes particle {
      0% {left:0%; top:0%; opacity: 0;}
      70% {opacity: 1;}
      100% {left:50%; top:50%; opacity: 1;}
  }
 